{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "UseDevelopmentStorage=true",
      "FUNCTIONS_WORKER_RUNTIME": "node",
      "NODE_TLS_REJECT_UNAUTHORIZED": "0",
      "CosmosDBConnection": ""
    }
  }